<app-menu></app-menu>
<div>
  <span class= "font-weight-bold">User Details |</span>
  <a routerLink= '/user/list'> Return to User List</a>
</div>

<table class="border table table-sm" *ngIf="userDetail">
  <tr>
    <td>Name</td><td>{{userDetail.firstName}} {{userDetail.lastName}}</td>
  </tr>
  <tr>
    <td>User Name</td><td>{{userDetail.userName}}</td>
  </tr>
  <tr>
    <td>Phone</td><td>{{userDetail.phone}}</td>
  </tr>
  <tr>
    <td>Email</td><td>{{userDetail.email}}</td>
  </tr>
  <tr>
    <td>Reviewer</td><td>{{userDetail.isReviewer ? "Yes" : "No"}}</td>
  </tr>
  <tr>
    <td>Admin</td><td>{{userDetail.isAdmin ? "Yes" : "No"}}</td>
  </tr>
  <tr>
    <td>Active</td>
    <td>{{userDetail.isActive ? "Yes" : "No"}}</td>
  </tr>

</table>


<button (click) = "verifyDelete()" class = 'btn btn-warning'> Delete</button>
<span *ngIf='verify'>
  <span> | </span>
<button  (click)= "delete()" class = 'btn btn-danger' > Are you sure? </button>
</span>