<app-menu></app-menu>
<div>
    <span>Product List</span><span> | </span>
    <a routerLink = '/product/create'>Create new Product</a>
</div>

<table class= table>
    <thead>
        <th>Part Number</th>
        <th>Name</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Vendor</th>
        <th>Action</th>
    </thead>
    <tbody *ngFor = "let product of products">
        <td>{{product.partNumber}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.unit}}</td>
        <td>{{product.price}}</td>
        <td>{{product.vendor.name}}</td>
        <a routerLink = '/product/detail/{{product.id}}'>Detail |</a>
        <a routerLink = '/product/edit/{{product.id}}'>Edit</a>
    </tbody>
</table>
