<app-menu></app-menu>
<div>
  <span class= "font-weight-bold">Create New Request</span><span> | </span>
  <span><a routerLink = "/request/list">Return to Request List</a></span>
</div>

<div>
    <table>
      <tr>
        <td>Description</td>
        <td><input [(ngModel)]='request.description' type= 'text'> </td>
      </tr>
      <tr>
        <td>Justification</td>
        <td><input [(ngModel)] = 'request.justification' type= 'text'></td>
      </tr>
      <tr> 
        <td>Delivery Method</td>
        <td><input [(ngModel)] = 'request.delivery_Mode' type= 'text'></td>
      </tr>
      <tr>
      <button (click)= "save()">Submit</button>
      </tr>  
    </table>
  </div>