<app-menu></app-menu>
<div>
  <span>Create New Request</span><span> | </span>
  <span><a routerLink = "/request/list">Return to Requet List</a></span>
</div>

<div>
    <table>
      <tr>
        <td>Description</td>
        <td><input [(ngModel)]='request.description' class='inputstring' type= 'text'> </td>
      </tr>
      <tr>
        <td>Justification</td>
        <td><input [(ngModel)] = 'request.justification' class ='inputstring' type= 'text'></td>
      </tr>
      <tr> 
        <td>Delivery Mode</td>
        <td><input [(ngModel)] = 'request.delivery_Mode' class = 'inputstring' type= 'text'></td>
      </tr>
      <tr>
        <td>Date Submitted</td> 
        <td><input [(ngModel)] = 'request.submitDate' class = 'inputstring' type= 'date'></td>
      </tr>
      <tr>
        <td>Total</td>
        <td><input [(ngModel)] = 'request.total' class = 'inputstring' type= 'number'></td>
      </tr>
      <tr>
          <td>Status</td>
          <td><input [(ngModel)]='request.status' class='inputstring' type= 'text'> </td>
        </tr> 
        <tr>
          <td>Reject Reason</td>
          <td><input [(ngModel)] ='request.reject_Reason' class = 'inputstring' type='text'></td>
        </tr>
      <tr>
        <button (click)= "save()">Save</button>
      </tr>  
    </table>
  </div>