<app-menu></app-menu>
<div>
    <span class= "font-weight-bold">Request Details</span><span> | </span>
    <span><a routerLink = "/request/list">Return to Request List</a></span>
  </div>
  
  <div>
      <table class='table table-sm' *ngIf="request" >
        <tr>
            <td>Created By:</td>
            <td>{{request.user.firstName}} {{request.user.lastName}}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{request.description}}</td>
        </tr>
        <tr>
          <td>Reason</td>
          <td>{{request.justification}}</td>
        </tr>
        <tr> 
          <td>Delivery Method</td>
          <td>{{request.delivery_Mode}}</td>
        </tr>
        <tr>
          <td>Date Submitted</td> 
          <td>{{request.submitDate}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{request.total}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{request.status}}</td>
        </tr>
        <!-- <tr *ngIf = 'Status'> -->
         <tr>   
            <td>Reject Reason</td>
            <td>{{request.reject_Reason}}</td>
        </tr>
        
        <tr>
            <a routerLink = "/request_lines/list/{{request.id}}"><button>View Line Items</button></a>
        </tr>   
      </table>
      <button (click) = "verifyDelete()" class = 'btn btn-warning'> Delete</button>
        <span *ngIf='verify'><span> | </span>
      <button  (click)= "delete()" class = 'btn btn-danger' > Are you sure? </button>
</span>
    </div>