<div>
<span class= "font-weight-bold">User List |</span>
<a routerLink = '/user/create'> Create New User</a>
</div>
<div>
  <table class ="table">
    <thead class="font-weight-bold text-nowrap">
      <tr>
        <th>Name:</th>
        <th>User Name:</th>
        <th>Phone:</th>
        <th>Email:</th>
        <th>Reviewer:</th>
        <th>Admin:</th>
        <th>Active:</th>
        <th>Actions:</th>
      </tr>
      
    <tbody>
    <tr *ngFor = "let user of users">
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.isReviewer}}</td>
      <td>{{user.isAdmin}}</td>
      <td>{{user.isActive}}</td>
      <td>
        <a routerLink = "/user/detail/{{user.id}}">Detail | </a>
        <a routerLink = "/user/edit/{{user.id}}">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
